@import "tailwindcss";

html {
	scroll-behavior: smooth;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	--heading1: #2c2c2c;
	--heading2: #3a2e27;
	--text1: #4a4a4a;
	--text2: #555555;
	--theme1: #cc4e00;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-theme1: var(--theme1);
	--color-heading1: var(--heading1);
	--color-heading2: var(--heading2);
	--color-text1: var(--text1);
	--color-text2: var(--text2);

	--font-mont: var(--mont);
	--font-inter: var(--inter);
	--shadow-image: 10px 10px 35px;
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --background: #0a0a0a;
		--foreground: #ededed; */
		--background: #ffffff;
		--foreground: #171717;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}

main,
section {
	max-width: 1920px;
}

@utility my-text-stroke {
	-webkit-text-stroke: var(--theme1);
	-webkit-text-stroke-width: 1px;
}

@custom-variant xxsm {
	@media (width < 500px) {
		@slot;
	}
}

#nav-icon1 {
	width: 50px;
	height: 35px;
	transform: rotate(0deg);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

#nav-icon1 span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
	top: 0px;
}

#nav-icon1 span:nth-child(2) {
	top: 15px;
}

#nav-icon1 span:nth-child(3) {
	top: 30px;
}

#nav-icon1.open span:nth-child(1) {
	top: 16px;
	transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
	opacity: 0;
	left: -60px;
}

#nav-icon1.open span:nth-child(3) {
	top: 16px;
	transform: rotate(-135deg);
}
